.customized-amazing {
  width: var(--width);
  height: 453px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 25px;
  .customized-amazing-center {
    width: 97%;
    height: inherit;
    border-radius: 8px;
    border: 1px solid lightgrey;
    .customized-amazing-center-top {
      width: 100%;
      height: 67px;
      padding: 12px 20px;
      .top-all {
        width: 400px;
        height: 34;
        display: flex;
        flex-flow: row wrap;
        margin-top: 15px;
        column-gap: 8px;
        img {
          width: 24px;
          height: 24px;
        }
        span {
          display: block;
          width: 183px;
          height: 24px;
          font-family: var(--fontfamily);
          font-size: 16px;
          font-weight: 700;
        }
      }
      .line-1 {
        width: 70px;
        height: 1px;
        background-color: red;
        border-radius: 4px;
        margin-top: 15px;
      }
    }
    .customized-amazing-center-bottom {
      width: 100%;
      height: calc(100% - 74px);
      margin-top: 5px;
      .swiper {
        width: 100%;
        height: 100%;
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-left: 1px solid rgb(231, 228, 228);
        .swiper-slide-item {
          width: 100%;
          height: inherit;
          .swiper-slide-item-link {
            display: block;
            width: 100%;
            height: inherit;
            text-decoration: none;
            padding: 12px 8px;

            .swiper-slide-item-top {
              width: 100%;
              height: 16px;
              margin-bottom: 5px;
              img {
                width: 123px;
                height: 14px;
                object-fit: contain;
              }
            }
            .image {
              width: 100%;
              height: 150px;
              display: flex;
              flex-flow: row wrap;
              justify-content: center;
              img {
                width: 150px;
                height: 150px;
              }
            }
            .script {
              width: 97%;
              height: 52px;
              font-family: var(--fontfamily);
              font-size: 12px;
              color: #323351;
              line-height: 27px;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              line-clamp: 2;
              -webkit-line-clamp: 2;
              overflow: hidden;
              margin-top: 5px;
              text-align: right;
              font-weight: 700;
            }
            .second-script {
              width: 100%;
              height: 24px;
              display: flex;
              flex-flow: row wrap;
              align-items: center;
              img {
                width: 18px;
                height: 18px;
              }
              span {
                display: block;
                font-family: var(--fontfamily);
                font-size: 11px;
                color: grey;
                margin-right: 5px;
              }
            }
            .price {
              width: var(--width);
              height: 34px;
              display: flex;
              flex-flow: row-reverse wrap;
              align-items: center;
              margin-top: 8px;
              .left {
                width: 70%;
                height: inherit;
                display: flex;
                flex-flow: row-reverse wrap;
                align-items: center;
                img {
                  width: 19px;
                  height: 19px;
                }
                .real-price {
                  font-family: var(--fontfamily);
                  font-size: 16px;
                  color: #3f4064;
                }
              }
              .right {
                width: 30%;
                height: inherit;
                display: flex;
                flex-flow: row wrap;
                justify-content: flex-start;
                align-items: center;
                .discount {
                  width: 34px;
                  height: 20px;
                  display: flex;
                  flex-flow: row wrap;
                  justify-content: center;
                  align-items: center;
                  background-color: #d32f2f;
                  font-family: var(--fontfamily);
                  font-size: 12px;
                  color: white;
                  border-radius: 16px;
                }
              }
            }
            .fake-price {
              width: 100%;
              height: 27px;
              display: flex;
              flex-flow: row wrap;
              align-items: center;
              justify-content: flex-end;
              padding-left: 20px;
              font-family: var(--fontfamily);
              font-size: 12px;
              color: rgb(174, 170, 170);
              text-decoration: line-through;
            }
            .line {
              width: 85%;
              height: 4px;
              background-color: #ef394e;
              border-radius: 7px;
              margin-right: 27px;
            }
            .time {
              display: flex;
              flex-flow: row-reverse wrap;
              align-items: center;
              justify-content: space-between;
              margin-top: 5px;
              .time-right {
                display: flex;
                flex-flow: row wrap;
                .span-first {
                  color: red;
                  margin-left: 4px;
                  opacity: 0.7;
                }
                .span-second {
                  color: gray;
                }
                .span-first,
                .span-second {
                  display: block;
                  font-family: var(--fontfamily);
                  font-size: 11px;
                }
              }
              .time-left {
                width: 50%;
                height: 30px;
                display: flex;
                flex-flow: row-reverse;
                align-items: center;
                color: red;
                font-family: var(--fontfamily);
                font-size: 12px;
                opacity: 0.8;
              }
            }
          }
        }
      }

      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
