.footer {
  width: var(--width);
  height: 1170px;
  padding: 32px 0px 0px;
  border-top: 1px solid rgb(226, 225, 225);
  .footer-all {
    padding: 0px 20px;
    height: 910.4px;
    .footer-div-first {
      width: 100%;
      height: 60px;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
      .right {
        width: 200px;
        height: 40px;
        .footer-right-link {
          display: block;
          width: 100%;
          height: 100%;
          text-decoration: none;

          img {
            width: 195px;
            height: 40px;
          }
        }
      }
      .left {
        .footer-left-link {
          text-decoration: none;
          display: block;
          padding: 8px 16px;
          display: flex;
          flex-flow: row wrap;
          column-gap: 5px;
          justify-content: center;
          align-items: center;
          border: 1px solid lightgrey;
          border-radius: 7px;
          h4 {
            color: grey;
            font-family: var(--fontfamily);
            font-size: 12px;
          }
          img {
            width: 24px;
            height: 24px;
          }
        }
      }
    }
    .numbers {
      width: 100%;
      height: 30px;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      column-gap: 20px;
      p {
        color: grey;
        font-size: 12px;
        font-family: var(--fontfamily);
      }
      span {
        display: block;
        font-size: 12px;
        width: 2px;
        height: 13px;
        background-color: lightgrey;
      }
    }
    .footer-div-second {
      width: 100%;
      height: 100px;
      display: flex;
      flex-flow: row wrap;
      margin: 35px 0px;
      .images {
        width: 20%;
        height: 160px;
        .images-link {
          display: inline-block;
          width: 292px;
          height: 104px;
          text-decoration: none;
          display: flex;
          flex-flow: column wrap;
          align-items: center;
          justify-content: center;
          padding: 12px 0px;
          img {
            width: 56px;
            height: 56px;
          }
          p {
            margin-top: 5px;
            color: grey;
            font-family: var(--fontfamily);
            font-size: 11px;
          }
        }
      }
    }
  }
  .digikala-info {
    width: 100%;
    height: 280px;
    display: flex;
    flex-flow: row wrap;
    margin-top: 25px;
    .digikala-info-one-div {
      width: 25%;
      height: 34px;
      padding-right: 10px;
      p {
        font-family: var(--fontfamily);
        font-size: 16px;
        margin-bottom: 8px;
      }
      .digikala-info-link {
        display: block;
        text-decoration: none;
        color: rgb(167, 166, 166);
        font-size: 14px;
        font-family: var(--fontfamily);
        margin-bottom: 8px;
        font-weight: 400;
        margin: 15px 0px;
      }
      .a-links {
        width: 100%;
        height: 55px;
        display: block;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        column-gap: 15px;
        .a {
          display: inline-block;
          text-decoration: none;
          width: 55px;
          height: 55px;
          display: flex;
          &:nth-of-type(1),
          &:nth-of-type(2) {
            img {
              width: 65px;
              height: 65px;
            }
          }
          &:nth-of-type(3) {
            margin-right: 10px;
          }

          img {
            width: 50px;
            height: 50px;
          }
        }
      }
    }
  }
  .download {
    width: 100%;
    height: 76px;
    margin-top: 50px;
    margin-right: 10px;
    margin-bottom: 30px;
    .download-center {
      width: inherit;
      height: inherit;
      background-color: #3c4b6d;
      border-radius: 7px;
      position: relative;
      .right {
        width: 30%;
        height: inherit;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        column-gap: 15px;
        padding-right: 20px;
        img {
          width: 44px;
          height: 44px;
        }
        h3 {
          color: whitesmoke;
          font-size: 21px;
          font-family: var(--fontfamily);
        }
      }
      .left {
        width: 70%;
        height: inherit;
        position: absolute;
        left: 0;
        top: 0;
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: flex-end;
        column-gap: 15px;
        .left-boxes {
          text-decoration: none;
          display: inline-block;
          background-color: white;
          width: 142px;
          height: 44px;
          border-radius: 5px;
          &:nth-of-type(2) {
            margin-left: 7px;
          }
          &:nth-of-type(1) {
            img {
              width: inherit;
              height: inherit;
              border-radius: 3px;
            }
          }
        }
        .last-left-box {
          text-decoration: none;
          display: inline-block;
          width: 43px;
          height: 44px;
          margin-right: 15px;
          margin-left: 20px;
          background-color: white;
          display: flex;
          flex-flow: row wrap;
          align-items: center;
          justify-content: center;
          column-gap: 3px;
          border-radius: 5px;
          .dots {
            width: 7px;
            height: 7px;
            background-color: rgb(84, 84, 84);
            border-radius: 20px;
          }
        }
      }
    }
  }
  .digikala-shopping {
    width: 100%;
    height: 214px;
    padding: 32px 0px;
    display: flex;
    flex-flow: row wrap;
    border-top: 1px solid rgb(235, 231, 231);
    border-bottom: 1px solid rgb(235, 231, 231); ;
    .digikala-shopping-right {
      width: 65%;
      height:159px;
      .digikala-shopping-right-header {
        font-family: var(--fontfamily);
        font-size: 20px;
        width: 100%;
        height: 44px;
      }
      .digikala-shopping-right-script-1 {
        font-family: var(--fontfamily);
        line-height: 2.17;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        line-clamp: 3;
        -webkit-line-clamp: 3;
        color: #707174;
        overflow: hidden;
        font-size: 12px;
        direction: rtl;
      }
      .digikala-shopping-right-script-2 {
        font-family: var(--fontfamily);
        line-height: 2.17;
        font-size: 12px;
        color: #81858b;
        opacity: 0.3;
      }
      .link {
        width: 100%;
        height: 27px;
        .read-more {
          display: block;
          text-decoration: none;
          width: 100px;
          height: inherit;
          display: flex;
          flex-flow: row wrap;
          align-items: center;
          column-gap: 3px;
          img {
            width: 16px;
            height: 16px;
            margin-bottom: 2px;
          }
          span {
            color: #19bfd5;
            font-family: var(--fontfamily);
            font-size: 12px;
          }
        }
      }
    }
    .digikala-shopping-left {
      width: 35%;
      height:159px;
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-end;
      column-gap: 10px;
      .digikala-shopping-left-link {
        display: block;
        text-decoration: none;
        border-radius: 8px;
        width: 108px;
        height: 108px;
        border: 1px solid rgb(221, 220, 220);
        padding: 16px;
        img {
          width: 75px;
          height: 75px;
          object-fit: contain;
        }
      }
    }
  }

  .p-header {
    margin-top: 10px;
  }
  input[type="email"] {
    width: 260px;
    height: 44px;
    outline: none;
    border: none;
    border-radius: 7px;
    font-size: 16px;
    padding: 0px 10px;
    font-family: var(--fontfamily);
    color: grey;
    background-color: #f0f0f1;
    caret-color: red;
  }
  input[type="submit"] {
    all: unset;
    width: 55px;
    height: 44px;
    background-color: rgb(197, 196, 196);
    color: whitesmoke;
    font-family: var(--fontfamily);
    font-size: 16px;
    border-radius: 7px;
    margin-right: 5px;
    text-align: center;
  }
  .regulations-script {
    font-family: var(--fontfamily);
    font-size: 12px;
    text-align: center;
    color: rgb(149, 147, 147);
    padding: 32px 0px;
  }
  .regulations {
    width: 100%;
    height: 150px;
    display: flex;
    flex-flow: row wrap;
    background-color: rgb(236, 234, 234);
    .regulations-link {
      text-decoration: none;
      display: inline-block;
      width: 189.5px;
      height: 80px;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: center;
      background-color: rgb(236, 234, 234);
      border-right: 1px solid lightgrey;
      &:nth-of-type(1) {
        img {
          width: 135px;
        }
      }
      &:nth-of-type(3) {
        img {
          width: 165px;
          height: 30px;
        }
      }
      &:nth-of-type(8) {
        img {
          width: 185px;
        }
      }
      &:nth-of-type(10) {
        img {
          width: 185px;
        }
      }
      &:nth-of-type(13) {
        img {
          width: 186px;
        }
      }
      &:nth-of-type(14) {
        img {
          width: 184px;
        }
      }
      &:last-of-type {
        img {
          width: 185px;
        }
      }

      img {
        width: 125px;
        height: 20px;
        padding: 0px 20px;
      }
    }

    .second-row {
      width: 210px;
      height: 70px;
    }
  }
}
